.header {
    padding: 10px 16px;
    background: #470cbe;
    color: #f1f1f1;
  }
    
  /* Page content */
  .content {
    padding: 16px;
  }
    
  /* The sticky class is added to the header with JS when it reaches its scroll position */
  .sticky {
    position: fixed;
    top: 0;
    width: 100%
  }
    
  /* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
  .sticky + .content {
    padding-top: 102px;
  }
  
  .header-container {
    display: flex;
    grid-template-columns: auto 1fr;
    align-items: center;
    column-gap: 10px;
    justify-content: space-between;
  }
  
  .header-container a img {
    margin-right: 10px; /* Add some space between the logo and the title */
    margin-bottom: 0; /* Remove the margin between the logo and the title */
  }
  
  nav {
    background-color: #333;
    overflow: hidden;
  }
    
  nav ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
    
  nav li {
    float: left;
    margin-right: 20px; /* Add some space between the navigation links */
  }
    
  nav li:last-child {
    margin-right: 0; /* Remove margin from the last navigation link */
  }
    
  nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
    
  nav li a:hover {
    background-color: #111;
  }

  @media only screen and (max-width: 600px) {
    nav {
      display: none;
      position: absolute;
      top: 40px;
      left: 0;
      right: 0;
      background-color: #333;
      z-index: 9999;
    }
}