li{
	list-style: none;
}
header{
	font-size:200;
	position:fixed;
	top:0;
	width:10%;
	background-color: #ADD8E6;
}
body{
	margin: 0 auto;
}
.head{
	font-size:200;
}
img{
	height:300px;
	width:300px;
}
body{
	background-color: #CBC3E3;
}
p{
	font-size: 20px;
	font-family: cursive;
}